<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="creditfan">
  <conn_configuration>
    <DataBaseServer>192.168.0.8</DataBaseServer>
    <DataBaseUser>sa</DataBaseUser>
    <DataBasePass></DataBasePass>
    <DataBaseName>UFDATA_201_2016</DataBaseName>
  </conn_configuration>
  <conn_configuration1>
    <DataBaseServer>192.168.0.12</DataBaseServer>
    <DataBaseUser>sa1</DataBaseUser>
    <DataBasePass>superadmin</DataBasePass>
    <DataBaseName>workshop</DataBaseName>
  </conn_configuration1>
  <conn_configurationTool>
    <DataBaseServer>192.168.0.8</DataBaseServer>
    <DataBaseUser>sa</DataBaseUser>
    <DataBasePass></DataBasePass>
    <DataBaseName>UFDATA_999_2014</DataBaseName>
  </conn_configurationTool>
</xs:schema>