<?xml version="1.0" encoding="utf-8" ?>
<web>
  <user key="张雪菲" value="'二车间大叶轮班'"/>
  <user key="孙卫防" value="'二车间大叶轮班'"/>
  <user key="张焕杰" value="'一车间','二车间','机加工车间'"/>
  <user key="胡义" value="'一车间','二车间','机加工车间'"/>
  
  <user key="曲佳伟" value="'一车间','二车间','机加工车间'"/>
  <user key="程松楠" value="'一车间','二车间','机加工车间'"/>
  <user key="殷庆锋" value="'一车间','二车间','机加工车间'"/>
  <user key="温爱武" value="'一车间','二车间','机加工车间'"/>
  
  <!--<user key="张红玲" value="'一车间','二车间','机加工车间','离心风机车间'"/>-->

  <user key="张红玲" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="潘杰" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>

  <user key="张天勋" value="'二车间大叶轮班'"/>
  <user key="王文" value="'一车间','二车间','机加工车间','二车间大叶轮班'"/>
  <user key="李川川" value="'一车间','二车间','机加工车间','二车间大叶轮班'"/>
  <!--<user key="李川川" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>-->

  <user key="张天勋_xialiao" value="'一车间','二车间','二车间大叶轮班'"/>
  <user key="王文_xialiao" value="'一车间','二车间','二车间大叶轮班'"/>
  <user key="销售部_xialiao" value="'一车间','二车间','二车间大叶轮班'"/>
  
  <user key="于加伟" value="'离心风机车间','电机维修车间'"/>
  
  <user key="王杰" value="'铁路风机车间'"/>
  <user key="王琴琴" value="'铁路风机车间'"/>
  
  <user key="曲志平" value="'一车间','二车间','二车间大叶轮班'"/>
  <user key="李琴" value="'一车间','二车间','二车间大叶轮班'"/>

  <user key="王强" value="'离心风机车间','机加工车间','电机维修车间'"/>
  <user key="刁芹" value="'离心风机车间','机加工车间','电机维修车间'"/>
  <user key="李小玲" value="'离心风机车间','机加工车间','电机维修车间'"/>
  <user key="胡忠杰" value="'离心风机车间','机加工车间','电机维修车间'"/>
  
  <user key="曲波" value="'机加工车间'"/>

  <user key="唐明飞" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="郭百成" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="韩美红" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="唐明飞_xialiao" value="'一车间','二车间','二车间大叶轮班'"/>

  <user key="孙领伟" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="郑美娟" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>
  <user key="销售部" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间'"/>


  <user key="离心风机车间" value="'离心风机车间'"/>
  <user key="路娜" value="'离心风机车间'"/>
  <user key="tpf" value="'一车间','二车间','机加工车间','离心风机车间','二车间大叶轮班','铁路风机车间','电机维修车间'"/>

  <user key="孙领伟_cmlc" value="1,2,3,4,5,6,7"/>

  <user key="于园园_cmlc" value="1,"/>
  <user key="张文超_cmlc" value="2,5"/>
  <user key="门卫北_cmlc" value="3,"/>
  <user key="门卫南_cmlc" value="4,"/>
  <user key="郝新玲_cmlc" value="6,"/>
  <user key="赵丽_cmlc" value="7,"/>

</web>