<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="creditfan">
  <conn_configuration>
    <DataBaseServer>192.168.0.6</DataBaseServer>
    <DataBaseUser>sa</DataBaseUser>
    <DataBasePass>1qaz@WSX</DataBasePass>
    <DataBaseName>UFDATA_401_2017</DataBaseName>
  </conn_configuration>
  <conn_configuration1>
    <DataBaseServer>192.168.0.12</DataBaseServer>
    <DataBaseUser>sa1</DataBaseUser>
    <DataBasePass>superadmin</DataBasePass>
    <DataBaseName>workshop</DataBaseName>
  </conn_configuration1>
  
  <conn_configurationOA>
    <DataBaseServer>192.168.0.10</DataBaseServer>
    <DataBaseUser>ezoffice</DataBaseUser>
    <DataBasePass>12345678</DataBasePass>
    <DataBaseName>oa</DataBaseName>
  </conn_configurationOA>
  
</xs:schema>