<?xml version="1.0"?>
<configuration>

  <location path="DiaoBoDan.aspx">
    <system.web>
      <authorization>
        <allow roles="caigou"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Mom.aspx">
    <system.web>
      <authorization>
        <allow roles="Worker,Manager,ruku"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SO.aspx">
    <system.web>
      <authorization>
        <allow roles="saledept"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="workhours_enter.aspx">
    <system.web>
      <authorization>
        <allow roles="允许输入工时"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="cjxl.aspx">
    <system.web>
      <authorization>
        <allow roles="xialiao"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="cjxl_manage.aspx">
    <system.web>
      <authorization>
        <allow roles="xialiao"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="cjxl_Print.aspx">
    <system.web>
      <authorization>
        <allow roles="xialiao"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="billQuery.aspx">
    <system.web>
      <authorization>
        <allow roles="应收款查询"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="workhours_shenhe.aspx">
    <system.web>
      <authorization>
        <allow roles="车间工时审核管理"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  
  <location path="catalog/frm.aspx">
    <system.web>
      <authorization>
        <allow roles="车间工时类别管理"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="工时录入.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="GongShiChaXun.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
